<div class="sidebar__chunk">
  <div class="sidebar__brand">
    <div class="brand__right" aria-hidden="true">
      <img class="brand__logo" src="/assets/img/logo.png" alt="" />
    </div>
    <div class="sidebar__brandRow">
      <div>
        <a class="brand" href="/">Jason Wu</a>
        <div class="brand__sub">Live Blogs</div>
      </div>
    </div>
  </div>
  <nav class="nav" aria-label="Primary">
    <a class="nav__item" href="/">
      <img class="nav__icon" src="/assets/icons/nav-home.svg" alt="" width="16" height="16" />
      <span>Home</span>
    </a>
    <a class="nav__item" href="/posts/">
      <img class="nav__icon" src="/assets/icons/nav-posts.svg" alt="" width="16" height="16" />
      <span>Posts</span>
    </a>
    <a class="nav__item" href="/tags/">
      <img class="nav__icon" src="/assets/icons/nav-tags.svg" alt="" width="16" height="16" />
      <span>Tags</span>
    </a>
    <a class="nav__item" href="/about.html">
      <img class="nav__icon" src="/assets/icons/nav-about.svg" alt="" width="16" height="16" />
      <span>About</span>
    </a>
  </nav>
  <div class="sidebar__footer">
    <button class="button button--ghost" type="button" data-theme-toggle>
      <span class="button__icon" aria-hidden="true">◐</span>
      <span class="button__text" data-theme-label>Theme</span>
    </button>
    <div class="muted small">
      <span id="year"></span> · <a href="https://github.com/jsnwu">GitHub</a>
    </div>
  </div>
</div>
